<h1>Index the contents of a page</h1>

<% @entriesArray.each do |entry| %>
  <p><%= entry.header_one %></p>
  <p><%= entry.header_two %></p>
  <p><%= entry.header_three %></p>
  <p><%= entry.links %></p>
<% end %>
